{% extends "base.html" %} {% block content%}

<div class="w-full bg-hero-bg-color pt-[3rem]">
	<div class="container max-w-6xl m-auto">
		<div class="w-full items-center text-center text-text-colorprime">
			<h1 class="text-[3rem] font-[550] title-font capitalize">
				Better Future For Your Kids.
			</h1>
			<p class="bg-universal-color w-2/5 m-auto rounded my-[.5rem] p-2">
				Let the child be the director, and the actor in his own play
			</p>
		</div>
		<div class="flex w-full m-auto justify-between items-center">
			<div class="relative w-[30rem] h-[20rem]">
				<div
					class="con-ep h-[15rem] w-[15rem] bg-bubble-one-color absolute rounded-full top-2 right-0"
				></div>
				<img
					src="https://i.postimg.cc/vTcpwQw1/happy-at-computer-removebg-preview.png"
					alt=""
					class="z-10 absolute w-full h-full"
				/>
			</div>
			<div class="title-font text-[30px] w-2/5 p-2 ml-10 mt-[2rem]">
				Personalize your child’s educational experiences and still get the best
				out of it.
				<div class="icon-bounce ml-5">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="50"
						height="50"
						viewBox="0 0 256 256"
					>
						<path
							fill="#ccc"
							d="m202.83 178.83l-48 48a4 4 0 0 1-5.66 0l-48-48a4 4 0 0 1 5.66-5.66L148 214.34V128a92.1 92.1 0 0 0-92-92a4 4 0 0 1 0-8a100.11 100.11 0 0 1 100 100v86.34l41.17-41.17a4 4 0 0 1 5.66 5.66Z"
						/>
					</svg>
				</div>
				<button
					class="py-1 px-8 items-end font-[500] text-[.9rem] rounded capitalise bg-primary-color hover:bg-btn-hover-color hover:text-universal-color"
				>
					Register
				</button>
			</div>
			<div class="relative w-[30rem] h-[20rem]">
				<div
					class="con-ep h-[15rem] w-[16rem] bg-bubble-two-color absolute rounded-full bottom-1 right-14"
				></div>
				<img
					src="https://i.postimg.cc/43sqNvTR/smiley-kid-removebg-preview.png"
					alt=""
					class="w-[30rem] absolute z-10"
				/>
			</div>
		</div>
	</div>
</div>

<!-- Carricular on offer -->
<div class="w-full bg-cover justify-center parent-con">
	<div class="bg-hero-bg-color image-container pt-10">
		<img
			src="https://i.postimg.cc/zfHNympz/Black-and-White-Minimalist-Modern-Desktop-Wallpaper-1.png"
			alt=""
		/>
	</div>
	<div class="cards-pos z-10">
		<div
			class="text-center font-black text-2x title-font text-text-colorprime uppercase text-[2rem] text-underline title-text mb-30"
		>
			Curricula On Offer
		</div>

		<div class="flex justify-between items-center w-full mt-5 m-auto">
			<div
				class="rounded-xl border-dashed border-2 border-universal-color w-[400px] card-adv card-adv-left"
			>
				<div class="graduate">
					<span
						class="iconify"
						data-icon="streamline-emojis:graduation-cap"
						data-width="60"
					></span>
				</div>
				<h1 class="text-universal-color text-left text-2xl font-black mt-5">
					IGCSE
				</h1>
				<p class="text-left text-universal-color text-[15px] font-bold">
					The International General Certificate of Secondary Education is an
					English language based secondary qualification similar to the GCSE and
					is recognised in the United Kingdom as being equivalent to the GCSE
					for the purposes of recognising prior attainment.
				</p>
			</div>
			<div
				class="rounded-xl border-dashed border-2 border-universal-color ml-5 pt-8 px-3 pb-8 w-[400px] card-adv card-adv-right"
			>
				<div class="graduate">
					<span
						class="iconify"
						data-icon="flat-color-icons:graduation-cap"
						data-width="60"
					></span>
				</div>
				<h1 class="text-universal-color text-left text-2xl font-black mt-5">
					EDEXCEL
				</h1>
				<p class="text-left text-universal-color text-[15px] font-bold">
					Edexcel regulates school examinations under the British Curriculum and
					offers qualifications for schools on the international and regional
					scale, awarding academic and vocational qualifications in schools,
					colleges and work places in the UK and abroad.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end of the curriculumn section -->
<div class="w-full bg-hero-bg-color pt-[3rem]">
	<div class="flex">
		<div class="">
			<h1>Programs</h1>
		</div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
		<div class=""></div>
	</div>
</div>
{% endblock%}
